* {
    margin: 0;
    padding: 0;
    }
header{
    background-image: url("/images/pexels-gabriela-palai-395242.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }
.forside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 274px;
    padding: 28px 0 0 46px;
}
.forsidebilde{
    overflow: hidden;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.flex-container > li {
    padding: 57px 0 0 90px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}
/* .about{   
    position: absolute;
    top: 4px;
    left: 1653px;
}
.kontakt{
    position: absolute;
    top: 4px;
    left: 1761px;
}*/
.test{
    flex-direction: column;
}
.topright{ 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    width: 100%;
}
li a{
    text-decoration: none;
    width: 100px;
    display: inline-block; 
    color: black; 
    padding: 2px 5px; 
    text-align: center
}
li a:hover {  
    color: white;
}
.nyheterhead, .mennhead, .kvinnerhead{
    font: normal normal bold normal 24px/1.5 Noto Sans SC, sans-serif;
    text-transform: uppercase;
}
.about, .kontakt{
    font: normal normal bold normal 14px/1.5 Noto Sans SC, sans-serif;
    text-transform: uppercase;   
}
#searchbox {
    display: none;
}
input#search{
    display: none;
}
input#search:checked ~ #searchbox{
    display: block;
    position: absolute;
    right: 20px;
}

.accounticon, .searchicon, .shoppingicon{
    filter: invert(34%) sepia(84%) saturate(723%) hue-rotate(159deg) brightness(99%) contrast(88%);
    margin-right: auto;
    width: 34px; height: 34px;
}
.push{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 662px;
    left: 657px;
}
h1{
    font: normal normal bold normal 48px/1.5 Noto Sans JP, sans-serif; 
    color: white;   
}
button{
    text-decoration: none;
    background-color: #B07A3C;
    border: none;
    margin: auto;
    color: white;
    padding: 14px 32px;
    text-align: center;
    display: inline-block;
    font: normal normal bold normal 36px/1.5 Noto Sans JP, sans-serif;
    border-radius: 63px;
    width: 232px;
      }
button a{
    text-decoration: none;
    color: inherit;
}
button:hover{
    background-color: #FA9E34;
    color: black;
}
.mennside img, .kvinnerside img{
    width: 476px; height: 713px;
}
.mk{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 70px;
}
.mennside, .kvinnerside{
    position: relative;
    text-align: center;

}
.mennknapp, .kvinnerknapp{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-spes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin: 0 0 10px 0;
}
.grid-spes h2{
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-spes img{
    width: 345px; height: 400px;
    align-items: center;
    border: 0px;
    padding: 0px;
    column-gap: 0px;
}







/*husk å endre style/**/
/*minimizing av side e fuckd/**/