* {
    margin: 0;
    padding: 0;
    }
header{
    background-image: url("/images/pexels-gabriela-palai-395242.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    }
.forside{
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 274px;
    padding: 28px 0 0 46px;
    flex-shrink: 10;
}
.forsidebilde{
    overflow: hidden;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.flex-container > li {
    padding-top: 57px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
    flex-shrink: 3;
}
@media screen and (max-width: 1250px){
    .flex-container, .test{
        display: none;
    }
}
.test{
    flex-direction: column;
    width: 250px;
}
.topright{ 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    width: 100%;
    flex-shrink: 2;
}
li a{
    text-decoration: none;
    width: 100px;
    display: inline-block; 
    color: black; 
    padding: 2px 5px; 
    text-align: center
}
li a:hover {  
    color: white;
}
.nyheterhead, .mennhead, .kvinnerhead{
    font: normal normal bold normal 24px/1.5 Noto Sans SC, sans-serif;
    text-transform: uppercase;
}
.about, .kontakt{
    font: normal normal bold normal 14px/1.5 Noto Sans SC, sans-serif;
    text-transform: uppercase;   
}
#searchbox {
    display: none;
    background-color: #9CE1FF;
    border: 1px solid black;
    color: rgba(#efefef, .5);
    font-size: 12pt;
    font-weight: 100;
    margin-top: 60px;
    margin-right: 10px;
    padding: .25em .75em;
    text-align: left;
    border-radius: 28px;
}
input#search{
    display: none;
}
input#search:checked ~ #searchbox{
    display: block;
    position: absolute;
    top: 5px;
    width: 220px;
}
.flex-column{
    flex: 1;
}
.topicon{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 10px;
    flex-shrink: 2;
}
.toprightall{
    width: 250px;
    float: right;
}
.accounticon, .searchicon, .shoppingicon{
    filter: invert(34%) sepia(84%) saturate(723%) hue-rotate(159deg) brightness(99%) contrast(88%);
    width: 34px; height: 34px;
}
.push{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font: normal normal bold normal 3vw/1.5 Noto Sans JP, sans-serif; 
    color: white;   
}
button{
    text-decoration: none;
    background-color: #B07A3C;
    border: none;
    margin: auto;
    color: white;
    padding: 14px 32px;
    text-align: center;
    display: inline-block;
    font: normal normal bold normal 2.5vw/1.5 Noto Sans JP, sans-serif;
    border-radius: 63px;
    width: 15vw;
      }
button a{
    text-decoration: none;
    color: inherit;
}
button:hover{
    background-color: #FA9E34;
    color: black;
}
.mennside img, .kvinnerside img{
    width: 476px; height: 713px;
}
.mk{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 70px;
}
.mennside, .kvinnerside{
    position: relative;
    text-align: center;

}
.mennknapp, .kvinnerknapp{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-spes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin: 0 0 10px 0;
}
.grid-spes h2{
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-spes img{
    width: 345px; height: 400px;
    align-items: center;
    border: 0px;
    padding: 0px;
    column-gap: 0px;
}







/*husk å endre style/**/
/*minimizing av side e fuckd/**/